<div class="page-header" style="background: url(assets/img/banner1.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        <div class="breadcrumb-wrapper">
        <h2 class="product-title">Recruiter Register</h2>
        <ol class="breadcrumb">
        <li><a href="#"><i class="ti-home"></i> Home</a></li>
        <li class="current">Recruiter / Register</li>
        </ol>
        </div>
        </div>
      </div>
    </div>
  </div>
  
  
  <div id="content" class="my-account">
    <div class="container">
      <div class="row">
  
        <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-8 cd-user-modal">
          <div class="my-account-form">
  
        <div id="cd-signup">
          <div class="page-login-form register">
          <form class="login-form" *ngIf="!isSuccessful" name="form" (ngSubmit)="onSubmit()" #f="ngForm" novalidate>
          
          <div class="form-group">
          <div class="input-icon">
          <i class="ti-user"></i>
          <input id="sender-email" class="form-control" placeholder="Company" type="text" name="company" [(ngModel)]="form.company" required
              minlength="3"
              maxlength="20"
              #company="ngModel">
          </div>
          <div class="alert-danger" *ngIf="f.submitted && company.invalid">
            <div *ngIf="company.errors.required">Company is required</div>
            <div *ngIf="company.errors.minlength">
              Company Name must be at least 3 characters
            </div>
            <div *ngIf="username.errors.maxlength">
              Username must be at most 20 characters
            </div>
          </div>
          </div>
  
          <div class="form-group">
          <div class="input-icon">
          <i class="ti-email"></i>
          <input id="sender-email" class="form-control" name="address1" placeholder="Address1" type="text" [(ngModel)]="form.address1" required address1 #address1="ngModel">
          </div>
          <div class="alert-danger" *ngIf="f.submitted && address1.invalid">
            <div *ngIf="address1.errors.required">Address1 is required</div>
          </div>
          </div>

          <div class="form-group">
          <div class="input-icon">
          <i class="ti-email"></i>
          <input id="sender-email" class="form-control" name="address2" placeholder="Address2" type="text" [(ngModel)]="form.address2" required address2 #address2="ngModel">
          </div>
          </div>
          <div class="form-group">
          <div class="input-icon">
          <i class="ti-email"></i>
          <input id="sender-email" class="form-control" name="city" placeholder="City" type="text" [(ngModel)]="form.city" required city #city="ngModel">
          </div>
          <div class="alert-danger" *ngIf="f.submitted && city.invalid">
            <div *ngIf="city.errors.required">City is required</div>
          </div>
          </div>
          <div class="form-group">
          <div class="input-icon">
          <i class="ti-email"></i>
          <input id="sender-email" class="form-control" name="province" placeholder="Province" type="text" [(ngModel)]="form.province" required province #province="ngModel">
          </div>
          <div class="alert-danger" *ngIf="f.submitted && province.invalid">
            <div *ngIf="email.errors.required">Province is required</div>
          </div>
          </div>
          <div class="form-group">
          <div class="input-icon">
          <i class="ti-email"></i>
          <input id="sender-email" class="form-control" name="zip" placeholder="Zip" type="text" [(ngModel)]="form.zip" required zip #zip="ngModel">
          </div>
          <div class="alert-danger" *ngIf="f.submitted && zip.invalid">
            <div *ngIf="zip.errors.required">Zip is required</div>
          </div>
          </div>
          <div class="form-group">
          <div class="input-icon">
          <i class="ti-lock"></i>
          <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="form.password" required minlength="6" #password="ngModel">
          </div>
          <div class="alert-danger" *ngIf="f.submitted && password.invalid">
            <div *ngIf="password.errors.required">Password is required</div>
            <div *ngIf="password.errors.minlength">
              Password must be at least 6 characters
            </div>
          </div>
          </div>
  
          <button class="btn btn-common log-btn">Register</button>
  
          <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
            Signup failed!<br />{{ errorMessage }}
          </div>
  
          </form>
  
          <div class="alert alert-success" *ngIf="isSuccessful">
            Your registration is successful!
          </div>
  
          </div>
          </div>
  
        </div>
      </div>
  
    </div>
  </div>
  </div>